<%- include('partials/header')%>
<h1>login page</h1>
<form action="/login" method="POST">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">Submit</button>
</form>
<%- include('partials/footer')%>