<%- include('partials/header')%>
<h1>login page</h1>
<form action="/login" method="POST">
    <input type="text" name="username" id="" placeholder="username">
    <input type="password" name="password" id="" placeholder="password">
    <button type="submit">Submit</button>
</form>

<h5 style="margin-top: 40px;">Don't have an account?,<span><a href="/signup">signup here</a></span>.</h5>
<%- include('partials/footer')%>